:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
}

html {
  font: 28px "Manrope", sans-serif;
}

body {
  background-color: var(--dark-blue);
  padding: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.advice {
  background: var(--dark-grayish-blue);
  color: var(--light-cyan);
  flex: 1;
  justify-content: center;
  max-height: 40%;
  align-items: center;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: var(--dark-blue) 0px 20px 30px -10px;
  min-width: 340px;
  max-width: 580px;
}

.advice__title {
  font-size: 0.5rem;
  text-transform: uppercase;
  color: var(--neon-green);
  align-items: stretch;
  margin: 1.5rem 0 1rem;
  width: 100%;
  text-align: center;
  flex: 1;
}

.advice__content {
  align-items: stretch;
  text-align: center;
}

.advice__quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  margin: 1rem 0;
  width: 100%;
  flex: 1;
}

.quote__line {
  background: var(--grayish-blue);
  height: 1px;
  flex: 1;
}

.quote__quote {
  height: 0.7rem;
  width: 0.25rem;
  border-radius: 1rem;
  background: var(--light-cyan);
}

.quote__quote.quote1 {
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

.quote__quote.quote2 {
  margin-right: 0.5rem;
}

.advice__dice {
  background: var(--neon-green);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: -1rem;
  cursor: pointer;
}

.advice__dice:hover {
  box-shadow: var(--neon-green) 0px 0px 30px 4px;
}

.advice__image__dice {
}
