:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --light-blue: hsl(213, 19%, 22%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    font: 15px 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

body {
    background: var(--very-dark-blue);
}

main {
    margin-bottom: 2rem;
}

.card {
    background: var(--dark-blue);
    color: var(--light-grey);
    padding: 2rem;
    border-radius: 25px;
    width: 22rem;
}

.card__header {
    margin-bottom: 2rem;
}

.card__circle {
    border-radius: 50%;
    background: var(--light-blue);
    width: 3rem;
    height: 3rem;
    position: relative;
}

.card__title {
    color: var(--white);
}

.card__button {
    background: var(--orange);
    color: var(--white);
    width: 100%;
    border-radius: 16px;
    font-size: 1rem;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5rem 0;
    margin-top: 1rem;
    margin: auto;
}

.card__button:hover {
    background: var(--white);
    color: var(--orange);
    cursor: pointer;
}

.card__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card__circle-star {
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
}

.card__circle-number {
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;

}

.card__result {
    visibility: hidden;
    display: none;
}