:root {
    --white: hsl(0, 0%, 100%);
    --light-blue: hsl(231, 77%, 90%);
    --black: hsl(230, 35%, 7%);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--white);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#__nuxt {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  #__nuxt > div {
      flex: 1;  }
  

h1, h2, h3 {
    margin: 0;
}

.heading1 {
    font: 150px "Bellefair", serif;
    text-transform: uppercase;
    color: var(--white);
}

.heading2 {
    font: 100px "Bellefair", serif;
    text-transform: uppercase;
}

.heading3 {
    font: 56px "Bellefair", serif;
    text-transform: uppercase;
}

.heading4 {
    font: 32px "Bellefair", serif;
    text-transform: uppercase;
}

.heading5 {
    font: 28px "Barlow Condensed", sans-serif;
    letter-spacing: 4.75px;
    text-transform: uppercase;
}

.subheading1 {
    font: 28px "Bellefair", serif;
    text-transform: uppercase;
}

.subheading2 {
    font: 14px "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}

.normaltext {
    font: 18px "Barlow Condensed", sans-serif;
    color: var(--light-blue);
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

.navtext {
    font: 16px "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

@media only screen and (max-width: 850px) {
    .heading5  {
        font-size: 24px;
    }

    .heading4 {
        font-size: 24px;
      }

      .heading3 {
        font-size: 40px;
    }


}

@media only screen and (max-width: 450px) {
    .heading5  {
        font-size: 16px;
        letter-spacing: 2.7px;
        margin-bottom: 2rem;
      }
    
      .heading3 {
        font-size: 24px;
    }

      .heading2 {
          font-size: 56px;
      }

      .heading1 {
        font-size: 80px;
      }
    
      .normaltext {
        font-size: 15px;
        line-height: 27px;
      }
      .heading4 {
        font-size: 16px;
      }
    
}